#root {
  background-color: #000;
  width: 100vw;
  height: 100vh;
}

* {
  padding: 0;
  margin: 0;
}

.clock {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  // align-items: center;
}
.actions {
  position: absolute;
  bottom: 0;
  right: 20px;
  .action {
    margin: 12px;
    color: #fff;
    font-size: 24px;
  }
}
